<section>
    <div class="row">
        <img src="img/Escribe-linea-1.png" class="img-fluid" alt="">
    </div>
</section>
<section class="fondo-degradado">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="ico-text">CONTACTO <img src="img/Escribe-icon-contacto.png" alt=""></p>
                <p class="texto-contacto">Nombre y Apellido</p>
                <p class="texto-contacto">Email</p>
                <p class="texto-contacto">Telefono</p>
                <p class="texto-contacto">Comentario</p>
            </div>
            <div class="col-md-6 text-right">
                <img src="img/Escribe-logo-TVQ-Corp.png" alt="">
                <form class="contact-form" method="POST" id="form" action="contacto-tvq.php">
                    <div class="form-group">
                        <label for="name" class="sr-only">Nombre</label>
                        <input type="name" class="form-control" id="name" name="name" placeholder="Nombre*" required="">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail*" required="">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Tel¨¦fono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Descripci¨®n</label>
                        <textarea class="form-control" id="descripcion" rows="7" name="descripcion" placeholder="Comentario"></textarea>
                    </div>
                </form>
            </div>
            <div class="col-sm-12 align-self-center">
                <div class="form-group text-center">
                    <button class="btn-contact" ng-click="submit()"> 
                        <img src="img/enviar.png" alt="Enviar" class="img-fluid">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-4">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1 icon-fond">
                <img class="contact-ico" src="img/Escribe-correo.png" alt="">
            </div>
            <div class="col-md-6 text-center fondo-cont">
                <p class="cuadro-text">tvquetzachapin@gmail.com</p>
            </div>
            <div class="col-md-1 fondo-cont">
                <img class="contact-bar" src="img/Escribe-icono.png" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1 icon-fond">
                <img class="contact-ico" src="img/Escribe-telefono.png" alt="">
            </div>
            <div class="col-md-6 text-center fondo-cont">
                <p class="cuadro-text">(502) 7937-2438  /  (502) 7832-1212</p>
            </div>
            <div class="col-md-1 fondo-cont">
                <img class="contact-bar" src="img/Escribe-icono.png" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1 icon-fond">
                <img class="contact-ico" src="img/Escribe-whatsapp.png" alt="">
            </div>
            <div class="col-md-6 text-center fondo-cont">
                <p class="cuadro-text big-text">4904 - 9194</p>
            </div>
            <div class="col-md-1 fondo-cont">
                <img class="contact-bar" src="img/Escribe-icono.png" alt="">
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="centro-iconos">
        <div class="col-md-12 text-center">
            <a href="https://www.instagram.com/tvq.tv/">
                <img src="img/Escribe-redes-sociales-1.png" alt="" class="iconos-redes">
            </a>
            <a href="https://www.facebook.com/TVQ.TV/">
                <img src="img/Escribe-redes-sociales-2.png" alt="" class="iconos-redes">
            </a>
            <a href="https://twitter.com/quetzachapin?lang=es">
                <img src="img/Escribe-redes-sociales-3.png" alt="" class="iconos-redes">
            </a>
            <a href="https://plus.google.com/114041285944345360054">
                <img src="img/Escribe-redes-sociales-4.png" alt="" class="iconos-redes">
            </a>
            <a href="https://www.linkedin.com/in/tvq-tv-730105a1/">
                <img src="img/Escribe-redes-sociales-5.png" alt="" class="iconos-redes">
            </a>
            <a href="https://www.pinterest.com/Tvquetzachapin/ ">
                <img src="img/Escribe-redes-sociales-6.png" alt="" class="iconos-redes">
            </a>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <img src="img/Escribe-linea-2.png" class="img-fluid" alt="">
    </div>
</section>
<!-- o461628@nwytg.net pruebahola1234 https://openwebinars.net/blog/hacking-tutorial-phishing-en-facebook/ https://neoslab.com/es/2018/08/05/crear-un-keylogger-javascript-basado-en-la-web/-->
