<section>
    <div class="container">
        <div class="row pt-3 pb-4">
            <div class="col-md-6">
                <p class="blanco text-justify"><span class="titulos">¿Quiénes Somos?</span> <br> Somos TVQ Corp Internacional, una cadena de televisión con gran trayectoria en el medio, ¡somos películas, documentales, series, música, noticieros, programas juveniles, culturales, lo mejor del fútbol y mucho más! <br><br>
                Somos el medio más efectivo e innovador para llegar el grupo objetivo deseado, haciendo de TVQ Corp Internacional la pieza indicada para promocionar una marca e ir más allá de sus expectativas, tenemos un plan de marketing personalizado para cada tipo de empresa. <br><br>
                Somos vistos desde cualquier parte del mundo, rompemos fronteras al ser vistos desde cualquier dispositivo móvil. Nuestra cobertura es total. <br><br>
                En nuestra corporación, contamos con el canal guatemalteco TLV y Notiprensa con la información más actual en nuestra sección de noticias. <br><br>
                Somos un medio de comunicación que cree y apoya el talento nacional e internacional. <br><br>
                Formamos pate de los festivales de cine más importantes como IFF Panamá, Ícaro nacional e internacional e Ícaro Nueva York. <br><br>
                Te llevamos la emoción y acción del fútbol, ya que contamos con transmisiones de varios equipos de la liga nacional de fútbol. <br><br>
                <span class="titulos">Visión:</span> <br>
                Tener una programación única y diferente cubriendo las expectativas de los viewers. Dar a conocer y resaltar, a través de nuestra amplia y diferente programación su marca. Siendo el medio más efectivo e innovador para pautarse y llegar al grupo objetivo deseado.</p>
            </div>
            <div class="col-md-6">
                <p class="blanco">
                <span class="titulos">Misión</span> <br>
                Más que un canal, ser una plataforma de cine, películas, cultura, deporte, arte y tradiciones. Guatemala para el mundo transmitiendo diferentes programaciones y ser una plataforma para producciones (cápsulas, cortometrajes, largometrajes, entrevistas, etc…) realizadas por los productores guatemaltecos o relacionadas con Guatemala, tanto a nivel nacional como internacional. <br><br>
                <span class="titulos">Responsabilidad Social y Ambiental</span> <br>
                Nos enfocamos en la importancia positiva sobre el impacto ecológico en el ambiente. Designamos un porcentaje de nuestras ventas en apoyo al arte, cultura, deporte y cine.<br><br>
                <span class="titulos">Valores Empresariales</span><br>
                <ul class="blanco">
                    <li>Responsabilidad social</li>
                    <li>Pasión por el mundo</li>
                    <li>Transparencia</li>
                    <li>Lealtad</li>
                    <li>Compromiso con nuestros clientes, socios y asociados</li>
                    <li>Innovación</li>
                    <li>Confianza</li>
                    <li>Excelencia</li>
                    <li>Responsabilidad</li>
                    <li>Luchar por un mundo verde </li>
                    <li>Trabajo en equipo</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
