<section>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive cinta-tvq" src="img/cinta-TVQ.png" alt="tvq">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 slide-tvq">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                              <div class="carousel-item active">
                                  <img class="d-block w-100" src="img/imagen-inicio-TVQ.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                  <img class="d-block w-100" src="img/imagen-inicio-TVQ.jpg" alt="Second slide">
                              </div>
                         </div>
                         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                             <span class="sr-only">Previous</span>
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                             <span class="carousel-control-next-icon" aria-hidden="true"></span>
                             <span class="sr-only">Next</span>
                         </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <img class="img-responsive cinta-tvq" src="img/cinta-TVQ.png" alt="tvq">
        </div>
    </div>
</section>
<section class="container text-center mt-5">
    <div class="row">
        <div class="col-md-4 espacio-tvq">
            <div class="videoWrapper">
               <iframe class="video-tvq" height="220" allowfullscreen="allowfullscreen" frameborder="0" scrolling="no" src="//iframe.dacast.com/b/69276/c/251837"></iframe>
            </div>
            <p class="tags">TVQ LIVE<p>
        </div>
        <div class="col-md-4 espacio-tvq">
            <div class="videoWrapper">
                <iframe class="video-tvq" height="220" src="//iframe.dacast.com/b/69276/c/466400" frameborder="0" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
            </div>
            <p class="tags">TVQ SPORTS<p>
        </div>
        <div class="col-md-4 espacio-tvq">
            <div class="videoWrapper">
                <iframe class="video-tvq" height="220" src="//iframe.dacast.com/b/69276/c/466401" frameborder="0" scrolling="no" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe>
            </div>
            <p class="tags">TVQ.TV</p>
        </div>
    </div>
    <div class="col-md-12">
        <p class="text-center blanco pt-4 pb-4">TVQ CORP. Internacional, es el canal que transmite a nivel internacional producciones de alta calidad las 24 horas, los 7 días de la semana, producciones originales y con estándares internacionales de alta calidad, con la tecnología más moderna, lo que le permite ser visto en cualquier parte del mundo, la trayectoria de TVQ. Corp Internacional lo coloca como el canal pionero en televisión digital en Guatemala, innovando en el mundo de la comunicación y medios.</p>
    </div>
    <img src="img/TVQ-gracias-por-preferirnos.png" class="img-responsive cintas-tvq" alt="">
</section>
<section class="centro-iconos">
    <div class="col-md-12 text-center">
        <br class="icono-separador">
        <a href="https://www.instagram.com/tvq.tv/">
            <img src="img/Escribe-redes-sociales-1.png" alt="" class="iconos-redes">
        </a>
        <a href="https://www.facebook.com/TVQ.TV/">
            <img src="img/Escribe-redes-sociales-2.png" alt="" class="iconos-redes">
        </a>
        <a href="https://twitter.com/quetzachapin?lang=es">
            <img src="img/Escribe-redes-sociales-3.png" alt="" class="iconos-redes">
        </a>
        <a href="https://plus.google.com/114041285944345360054">
            <img src="img/Escribe-redes-sociales-4.png" alt="" class="iconos-redes">
        </a>
        <a href="https://www.linkedin.com/in/tvq-tv-730105a1/">
            <img src="img/Escribe-redes-sociales-5.png" alt="" class="iconos-redes">
        </a>
        <a href="https://www.pinterest.com/Tvquetzachapin/ ">
            <img src="img/Escribe-redes-sociales-6.png" alt="" class="iconos-redes">
        </a>
    </div>
</section>

<section>
    <h1 class="cartelera">CARTELERA</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item carousel-item active">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <a href="#!/donde-nace-el-sol/{{userProfile.uid}}">
                                        <img src="img/TVQ-peliculas-donde-nace-el-sol.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <a href="#!/la-bodega/{{userProfile.uid}}">
                                        <img src="img/TVQ-peliculas-la-bodega.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <a href="#!/la-casa-de-enfrente/{{userProfile.uid}}">
                                        <img class="desaparecido" src="img/TVQ-peliculas-la-casa-de-enfrente.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-12">
                                    <a href="#!/las-cruces/{{userProfile.uid}}">
                                        <img class="desaparecido" src="img/TVQ-peliculas-lascruces.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item carousel-item">
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <a href="#!/vip-la-otra-casa/{{userProfile.uid}}">
                                        <img src="img/TVQ-peliculas-vip-la-otracasa.png" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-12"></div>
                                <div class="col-md-3 col-sm-12"></div>
                                <div class="col-md-3 col-sm-12"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <img class="img-responsive cinta1-tvq" src="img/dos.png" alt="">
</section>
